* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}

.formCriaCliente input {
    margin-top: 15px;
    width: 400px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid black;

}
.message {
    /* position: absolute;
    top: 36px;
    left: 5px; */
}

.error {
    color: red;
}

.success {
    color: green;
}

.error-border {
    border: 1px solid red !important;
}

.success-border {
    border: 1px solid green !important;
}