* {
  box-sizing: border-box;
}

.principal{
  display: flex;
  align-items: flex-start;
  
}
.clientevent {
  display: flex;
  
  justify-content: space-around;
 
}
.card {
  width: 10rem;
  
}

h4 {
  color: rgb(133, 110, 10)
}


