* {
  box-sizing: border-box;
}

.principal{
  display: flex;
  align-items: flex-start;
  
}
.clientevent {
  display: flex;
  
  justify-content: space-around;
 
}
/* .card {
  width: 10rem;
  
} */

h4 {
  color: rgb(133, 110, 10)
}

.container {
  padding: 10px;
}

.stories {
  border-radius: 360px;
  /* border-style: none; */
  background-color: white;
  /* border: solid 1px black; */
  height: 200px;
  /* width: 200px; */
  
}
